{% block formfield_item_widget %}
    {{ block('hidden_widget') }}
    <div id="{{ form.vars.id }}_total" style="text-align: center" class="alert-info">${{form.vars.total}}</div>
    {% for factura in form.vars.facturas %}
        <a href="#" data-toggle="modal" data-target="#modal{{ form.vars.id }}" onclick="procItems{{ form.vars.id }}({{factura.idFactura}},{{factura.pago.id}},{{form.vars.idCuota}})">{{ factura.numeroCompleto }}</a><br>
    {% endfor %}
    <div class="modal fade" id="modal{{ form.vars.id }}" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel"><i class="ti-marker-alt m-r-10"></i></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="{{ form.vars.id }}_listitems"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
            function procItems{{ form.vars.id }}(idfactura,idpago,idcuota) {
                formId = '{{ form.vars.id }}';
                id     = '{{ form.vars.id }}_listitems';
                $.ajax({
                    url: '{{ path('admin_app_factura_listitems') }}',
                    method: 'POST',
                    processData: false,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ "idfactura": idfactura, "idpago": idpago, "idcuota": idcuota, "id": id  }),
                    dataType: "json",
                    success: function (data) {
                        $('#'+formId+'_listitems').html(data);
                    }
                });
            }
    </script>
{% endblock formfield_item_widget %}
