{% extends "standard_layout.html.twig" %}
{% block title %}Facturacion{% endblock %}

{% block sonata_admin_content %}
    {# check each types #}
    {% for type in sonata_flashmessages_types() %}

        {# get messages from current type #}
        {% set messages = sonata_flashmessages_get(type) %}

        {# display flash message, sonata_flashmessages_class will return define CSS class #}
        {% for message in messages %}
            <div class="alert alert-{{ sonata_flashmessages_class(type, 'default') }} alert-dismissable">
                <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-hidden="true"
                        aria-label="{{ 'message_close'|trans({}, 'SonataTwigBundle') }}">
                    &times;
                </button>
                {{ message|raw }}
            </div>
        {% endfor %}

    {% endfor %}
    <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-striped table-hover sonata-ba-list">
                <tbody>
                {% set total = 0 %}
                {% set debito = 0 %}
                {% set totalg = 0 %}
                {% set totalgos = 0 %}
                {% set debitog = 0 %}
                {% set debitogos = 0 %}
                {% set sumamitados = 0 %}
                {% set sumamitados1 = 0 %}
                {% set sumamitados2 = 0 %}
                {% set sumamitados3 = 0 %}
                {% set header = '' %}
                {% set t = 1 %}
                {% set arr = [] %}
                {% for item in listado %}
                    {% if header != item['hospital'] %}
                        {% if t == 0 %}
                            <tr class="bg-gray">
                                <th colspan="3" style="text-align: right">TOTALES</th>
                                <th>${{ total |number_format(2, ',', '.')}}</th>
                                <th>${{ debito |number_format(2, ',', '.')}}</th>
                                <th>${{ (total - debito) |number_format(2, ',', '.')}}</th>
                                {% set totalg = totalg + total  %}
                                {% set debitog = debitog + debito  %}
                                {% set total = 0 %}
                                {% set debito = 0 %}
                            </tr>
                        {% endif %}
                        {% set t = 0 %}
                        <tr><th colspan="6" style="text-align: center">{{ item['id'] }}-{{ item['hospital'] }}</th></tr>
                        <tr>
                            <th>OS</th>
                            <th>Servicio</th>
                            <th>Factura</th>
                            <th>Facturado</th>
                            <th>Debito</th>
                            <th>Neto</th>
                        </tr>
                        {% set header = item['hospital'] %}
                    {% endif %}
                    {% if 'ROLE_SUPER_ADMIN' in app.user.roles or 'ROLE_HPGD' in app.user.roles or 'ROLE_AUTOGESTION' in app.user.roles%}
                        <tr>
                            <td>{{ item['os'] }}</td>
                            <td>{{ item['servicio'] }}</td>
                            <td>{{ item['pv'] }}-{{ item['num'] }}</td>
                            <td>${{ item['suma'] |number_format(2, ',', '.')}}</td>
                            <td>${{ item['deb'] |number_format(2, ',', '.')}}</td>
                            <td>${{ (item['suma'] - item['deb']) |number_format(2, ',', '.')}}</td>
                                {% set total = total + (item['suma']) %}
                                {% set debito = debito + (item['deb']) %}
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ item['os'] }}</td>
                            <td>{{ item['servicio'] }}</td>
                            <td>{{ item['pv'] }}-{{ item['num'] }}</td>
                            <td>${{ (item['suma']/2) |number_format(2, ',', '.')}}</td>
                            <td>${{ item['deb'] |number_format(2, ',', '.')}}</td>
                            <td>${{ ((item['suma']/2) - item['deb']) |number_format(2, ',', '.')}}</td>
                            {% set total = total + (item['suma']/2) %}
                            {% set debito = debito + item['deb'] %}
                        </tr>
                    {% endif %}
                {% endfor %}
                    <tr class="bg-gray">
                        <th colspan="3" style="text-align: right">TOTAL</th>
                        <th>${{ total |number_format(2, ',', '.')}}</th>
                        <th>${{ debito |number_format(2, ',', '.')}}</th>
                        <th>${{ (total - debito) |number_format(2, ',', '.')}}</th>
                        {% set totalg = totalg + total  %}
                        {% set debitog = debitog + debito  %}
                    </tr>
                    <tr class="bg-black-gradient">
                        <th colspan="3" style="text-align: right">TOTAL GENERAL</th>
                        <th>${{ totalg |number_format(2, ',', '.')}}</th>
                        <th>${{ debitog |number_format(2, ',', '.')}}</th>
                        <th>${{ (totalg - debitog) |number_format(2, ',', '.')}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box box-success">
        <h4 class="box-body table-responsive no-padding">
            {% if 'ROLE_SUPER_ADMIN' in app.user.roles or 'ROLE_AUTOGESTION' in app.user.roles%}
            <h4 style="text-align: center"><strong>Listado Por Obra Social</strong></h4>
            <table class="table table-bordered table-striped table-hover sonata-ba-list">
                <tr>
                    <th>OS</th>
                    <th>Total Gral</th>
                    <th>Debito</th>
                    <th>54.5%</th>
                    <th>Hospital 90%</th>
                    <th>Dpto Autogest Hospitales 5,5%</th>
                    <th>Dpto Autogest Area Central 9%</th>
                </tr>
                {% for os in oss %}
                {% set sumamitad = ((os['suma']-os['deb'])/2) %}
                <tr>
                    <td>{{ os['os'] }}</td>
                    <td>{{ os['suma']|number_format(2, ',', '.') }}</td>
                    <td>{{ os['deb']|number_format(2, ',', '.') }}</td>
                    <td>{{ (sumamitad+(sumamitad*0.045))|number_format(2, ',', '.') }}</td>
                    <td>{{ (sumamitad*0.9)|number_format(2, ',', '.') }}</td>
                    <td>{{ (sumamitad*0.055)|number_format(2, ',', '.') }}</td>
                    <td>{{ (sumamitad*0.09)|number_format(2, ',', '.') }}</td>
                    {% set totalgos = totalgos + os['suma']  %}
                    {% set debitogos = debitogos + os['deb']  %}
                    {% set sumamitados = sumamitados + (sumamitad+(sumamitad*0.045))  %}
                    {% set sumamitados1 = sumamitados1 + (sumamitad*0.9)  %}
                    {% set sumamitados2 = sumamitados2 + (sumamitad*0.055)  %}
                    {% set sumamitados3 = sumamitados3 + (sumamitad*0.09)  %}
                </tr>
                {% endfor%}
                <tr class="bg-black-gradient">
                    <th style="text-align: right">TOTAL GENERAL</th>
                    <th>${{ totalgos|number_format(2, ',', '.') }}</th>
                    <th>${{ debitogos|number_format(2, ',', '.') }}</th>
                    <th>${{ sumamitados|number_format(2, ',', '.') }}</th>
                    <th>${{ sumamitados1|number_format(2, ',', '.') }}</th>
                    <th>${{ sumamitados2|number_format(2, ',', '.') }}</th>
                    <th>${{ sumamitados3|number_format(2, ',', '.') }}</th>
                </tr>
            </table>
            {% endif %}
        </div>
    </div>
{% endblock%}