{% extends "standard_layout.html.twig" %}

{% block title %}Facturacion{% endblock %}

{% block sonata_admin_content %}

    {% block notice %}
        {% include ['@SonataCore/FlashMessage/render.html.twig', '@SonataTwig/FlashMessage/render.html.twig'] %}
    {% endblock notice %}
    {% if success == 1 %}
        <div class="alert alert-success" role="alert">
            Se creo con exito la Facturar.
        </div>
    {% endif %}
    <h3>Facturacion</h3>
    <form action="{{ path('process_facturacion') }}" method="post" enctype="multipart/form-data">

        <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

        <div>
            <label for="myfile">Hospital:</label>
            <select name="hospitalid">
                {% for hospital in hospitals %}
                    <option value="{{hospital.id}}">{{hospital.codigoh}} - {{hospital.descriph}}</option><br />
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="myfile">Obra Social:</label>
            <select name="obrasocialid">
                {% for os in oss %}
                    <option value="{{os.rowId}}">({{os.codobra}}) {{os.denomina}}</option><br />
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <label for="myfile">fecha inicio:</label>
                    <div class='input-group date' id='datei'>
                        <input type='text' class="form-control" name="fechainicio" id="fechainicio"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                    <label for="myfile">fecha fin:</label>
                    <div class='input-group date' id='datef'>
                        <input type='text' class="form-control" name="fechafin" id="fechafin"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#fechainicio').datetimepicker({
                        format: 'Y-MM-D',
                        language: 'es',
                        pickTime: false
                    });
                    $('#fechafin').datetimepicker({
                        format: 'Y-MM-D',
                        language: 'es',
                        pickTime: false
                    });
                });
            </script>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Procesar</button>


    </form>

{% endblock %}
