{% extends "standard_layout.html.twig" %}

{% block title %}Facturacion{% endblock %}

{% block sonata_admin_content %}

    {% block notice %}
        {% include ['@SonataCore/FlashMessage/render.html.twig', '@SonataTwig/FlashMessage/render.html.twig'] %}
    {% endblock notice %}
    {% if success == 1 %}
        <div class="alert alert-success" role="alert">
            Se creo con exito la Facturar.
        </div>
    {% endif %}
    <h3>Facturacion</h3>
    <form action="{{ path('process_facturacion') }}" method="post" enctype="multipart/form-data">
        <div class="box box-primary">
            <div class="box-body">
        <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

        <div>
            <label for="myfile">Hospital:</label>
            <select id="hospitalid" name="hospitalid" onchange="buscarOs(this.value)">
                <option value="">Seleccione un Hospital</option>
                {% for hospital in hospitals %}
                    <option value="{{hospital.id}}">{{hospital.codigoh}} - {{hospital.descriph}}</option><br />
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="myfile">Obra Social:</label>
            <img src='{{ asset('ajax-loader.gif') }}' id='spinneros' style='display: none;'>
            <select id="obrasocialid" name="obrasocialid">
            </select>
        </div>

        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <label for="myfile">fecha inicio:</label>
                    <div class='input-group date' id='datei'>
                        <input type='text' class="form-control" name="fechainicio" id="fechainicio"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                    <label for="myfile">fecha fin:</label>
                    <div class='input-group date' id='datef'>
                        <input type='text' class="form-control" name="fechafin" id="fechafin"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#fechainicio').datetimepicker({
                        format: 'Y-MM-D',
                        language: 'es',
                        pickTime: false
                    });
                    $('#fechafin').datetimepicker({
                        format: 'Y-MM-D',
                        language: 'es',
                        pickTime: false
                    });
                });
            </script>
        </div>
            </div>
        <br>
         <div   class="sonata-ba-form-actions well well-small form-actions">
            <button type="submit" class="btn btn-primary">Procesar</button>
         </div>
        </div>
    </form>
    <script type="text/javascript">
        function buscarOs(hospitalId) {
            jQuery("#spinneros").show();
            $.ajax({
                url: '{{ path('admin_app_factura_selectOs') }}',
                method: 'POST',
                processData: false,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ "hospitalId": hospitalId }),
                dataType: "json",
                success: function (data) {
                    $('#obrasocialid').append(':option').empty();
                    $('#obrasocialid').append(data);
                    jQuery("#spinneros").hide();

                    var row_id = $('#obrasocialid').find(":selected").val();
                    $("#obrasocialid").select2("val", row_id);


                }
            });
        }
    </script>
{% endblock %}
