{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}
{% set cl = {1 : 'badge-custome bg-info text-dark', 2 : 'badge-custome bg-primary', 3 : 'badge-custome bg-warning', 0 : 'badge-custome bg-secondary', 5 : 'badge-custome bg-secondary', 6 : 'badge-custome bg-dark'} %}
{% set cle = {0 : 'text-dark', 1 : 'text-info', 2 : 'text-success', 3 : 'text-success', 4 : 'badge bg-secondary', 5 : 'badge bg-dark'} %}
{% set eenv = {0 : 'No Asociado', 1 : 'Asociado', 2 : 'Enviado', 3 : 'Aceptado'} %}

{% block stylesheets %}
    <link href="{{ asset('css/badge-custome.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sonata_admin_content %}

{% block field%}
    <table class="table table-bordered table-striped">
        <tr>
            <th>Numero</th>
            <th>Hospital</th>
            <th>Obra Social</th>
            <th>Monto</th>
            <th>Estado</th>
        </tr>
        <tr>
            <td>{{ object.digitalPv }}-{{ object.digitalNum }}</td>
            <td>{{ object.hospitalId }}</td>
            <td>{{ object.codOs }}</td>
            <td>{{ object.montoReal }}</td>
            <td>{{ object.estadoId }}</td>
        </tr>
    </table>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <th>Servicio</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>
        {% set total = 0 %}
        {% for item in object.itemPrefacturacions %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.codservFK.descripcionServicio }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.precio }}</td>
            <td>{{ item.precio * item.cantidad }}</td>
            {% set total = total + (item.precio * item.cantidad) %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4" style="text-align: right">TOTAL</td>
            <td>{{ total }}</td>
        </tr>
    </table>
{% endblock field%}

    <style>
        .badge-custome {
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            border-radius: 10px;
        }
        .bg-warning {
            --bs-bg-opacity: 1;
            background-color: rgba(var(--bs-warning-rgb),var(--bs-bg-opacity)) !important;
        }
        :root {
            --bs-blue: #0d6efd;
            --bs-indigo: #6610f2;
            --bs-purple: #6f42c1;
            --bs-pink: #d63384;
            --bs-red: #dc3545;
            --bs-orange: #fd7e14;
            --bs-yellow: #ffc107;
            --bs-green: #198754;
            --bs-teal: #20c997;
            --bs-cyan: #0dcaf0;
            --bs-white: #fff;
            --bs-gray: #6c757d;
            --bs-gray-dark: #343a40;
            --bs-gray-100: #f8f9fa;
            --bs-gray-200: #e9ecef;
            --bs-gray-300: #dee2e6;
            --bs-gray-400: #ced4da;
            --bs-gray-500: #adb5bd;
            --bs-gray-600: #6c757d;
            --bs-gray-700: #495057;
            --bs-gray-800: #343a40;
            --bs-gray-900: #212529;
            --bs-primary: #0d6efd;
            --bs-secondary: #6c757d;
            --bs-success: #198754;
            --bs-info: #0dcaf0;
            --bs-warning: #ffc107;
            --bs-danger: #dc3545;
            --bs-light: #f8f9fa;
            --bs-dark: #212529;
            --bs-primary-rgb: 13,110,253;
            --bs-secondary-rgb: 108,117,125;
            --bs-success-rgb: 25,135,84;
            --bs-info-rgb: 13,202,240;
            --bs-warning-rgb: 255,193,7;
            --bs-danger-rgb: 220,53,69;
            --bs-light-rgb: 248,249,250;
            --bs-dark-rgb: 33,37,41;
            --bs-white-rgb: 255,255,255;
            --bs-black-rgb: 0,0,0;
            --bs-body-color-rgb: 33,37,41;
            --bs-body-bg-rgb: 255,255,255;
            --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
            --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
            --bs-body-font-family: var(--bs-font-sans-serif);
            --bs-body-font-size: 1rem;
            --bs-body-font-weight: 400;
            --bs-body-line-height: 1.5;
            --bs-body-color: #212529;
            --bs-body-bg: #fff;
        }
    </style>
{% endblock%}