{% if 'ROLE_ADMIN_FACTURA_PDF' in app.user.roles %}
        {% if object.estadoId.codEstado == 1 and object.tipoFact == 'C'%}
                <a href="{{ path('process_nota_de_credito', {'id': object.idFactura}) }}" class="btn btn-sm btn-danger view_link" title="{{ 'Generar Nota de Credito'|trans({}, 'SonataAdminBundle') }}" onclick="return confirm('Esta seguro de Anular la Factura {{ object }} y generar una Nota de Credito?')">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        Anular
                </a>
        {%  endif %}
        {% if object.estadoId.codEstado == 5 and object.tipoFact == 'C'%}
                {% if not object.allFacturas %}
                        <a href="{{ path('process_nota_de_credito_aceptado', {'id': object.idFactura}) }}" class="btn btn-sm btn-success view_link" title="{{ 'Generar Nota de Credito'|trans({}, 'SonataAdminBundle') }}" onclick="return confirm('Esta seguro de generar una Nota de Credito por {{ object.saldo }}, a la Factura {{ object }}?')">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                Nota Credito
                        </a>
                {% endif %}
        {%  endif %}
{% endif %}
