{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}
{% set cl = {1 : 'badge-custome bg-info text-dark', 2 : 'badge-custome bg-primary', 3 : 'badge-custome bg-warning', 0 : 'badge-custome bg-secondary', 5 : 'badge-custome bg-secondary', 6 : 'badge-custome bg-dark'} %}
{% set cle = {0 : 'text-dark', 1 : 'text-info', 2 : 'text-success', 3 : 'text-success', 4 : 'badge bg-secondary', 5 : 'badge bg-dark'} %}
{% set eenv = {0 : 'No Asociado', 1 : 'Asociado', 2 : 'Enviado', 3 : 'Aceptado'} %}
{% set tipo = {1: 'Ambulatorio' , 2 : 'Internacion', '' : 'Sin Tipo de Atencion'} %}

{% block stylesheets %}
    <link href="{{ asset('css/badge-custome.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sonata_admin_content %}

{% block field%}
    <table class="table table-bordered table-striped">
        <tr>
            <th>Numero</th>
            <th>Apellido y Nombre</th>
            <th>Hospital</th>
            <th>Obra Social</th>
            <th>Fecha</th>
            <th>Tipo</th>
        </tr>
        <tr>
            <td>{{ object.numAnexo }}</td>
            <td>{{ object.apeynom }}</td>
            <td>{{ object.codH }}</td>
            <td>{{ object.codOs }}</td>
            <td>{{ object.fechaCarga|date("d/m/Y") }}</td>
            <td>{{ tipo[object.tipoAtencion] }}</td>
        </tr>
    </table>
    <div class="box-header"><h6 class="box-title"><strong>ITEMS A FACTURAR</strong></h6></div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Servicio</th>
            <th>Practica</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Factura</th>
        </tr>
        {% set total = 0 %}
        {% set badge = {1 : 'label label-primary', 2 : 'label label-danger', 3 : 'label label-success', 6 : 'label label-danger', 13 : 'label label-info', 14 : 'label label-warning', 7 : 'label label-default', 11 : 'label label-default', 9 : 'label label-default', 8 : 'label label-default', 5 : 'label label-default'} %}
        {% for item in object.itemPrefacturacions %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.codservFK.descripcionServicio }}</td>
            <td>{{ item.nomencla.tema }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.precio }}</td>
            <td>{{ item.precio * item.cantidad }}</td>
            <td><span class="label label-success">{{ item.idFacturaFK }}</span></td>
            {% set total = total + (item.precio * item.cantidad) %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" style="text-align: right">TOTAL</td>
            <td>{{ total }}</td>
        </tr>
    </table>
    <div class="box-header"><h6 class="box-title"><strong>DIAGNOSTICOS</strong></h6></div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Codigo</th>
            <th>Descripcion</th>
        </tr>
        {% set total = 0 %}
        {% for item in object.cie10 %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.codCie10Id.cod3 }}</td>
                <td>{{ item.codCie10Id.descripcion }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="box-header"><h6 class="box-title"><strong>MENSAJES</strong></h6> {% if object.cerrado == 1 %}<button type="button" class="btn btn-sm btn-facebook view_link" data-toggle="modal" data-target="#mensajeModal{{ object.NumAnexo }}" ><i class="glyphicon ion-android-send"></i> Msj{% endif %}</button></div>
                        <div class="panel-body">
                            <ul class="chat">
                                {% set total = 0 %}
                                {% set left = 0 %}
                                {% set rigth = 0 %}
                                {% set b = 0 %}
                                {% for mensaje in object.mensajes %}
                                    {% if b == 0 %}
                                        {%  set b = 1 %}
                                        {%  set left = mensaje.fosUserUserId.id %}
                                    {% endif %}
                                    {%  if(left == mensaje.fosUserUserId.id) %}
                                        <li class="left clearfix"><span class="chat-img pull-left"></span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong class="primary-font"><span class="glyphicon glyphicon-comment"></span> {{ mensaje.fosUserUserId.username }}</strong> <small class="pull-right text-muted">
                                                        <span class="glyphicon glyphicon-time"></span>{{ mensaje.fecha |date('d-m-Y H:m:s') }}</small>
                                                </div>
                                                <p>
                                                    {{ mensaje.texto }}
                                                </p>
                                            </div>
                                        </li>
                                    {% else %}
                                        {%  set rigth = mensaje.fosUserUserId.id %}
                                    {% endif %}

                                    {%  if(rigth == mensaje.fosUserUserId.id) %}
                                        <li class="left clearfix"><span class="chat-img pull-right"></span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ mensaje.fecha |date('d-m-Y H:m:s') }}</small>
                                                    <strong class="pull-right primary-font"><span class="glyphicon glyphicon-comment"></span> {{ mensaje.fosUserUserId.username }}</strong>
                                                </div>
                                                <p class="chat-img pull-right">
                                                    {{ mensaje.texto }}
                                                </p>
                                            </div>
                                        </li>
                                    {% else %}
                                        {% set left = mensaje.fosUserUserId.id %}
                                    {% endif %}

                                {% endfor %}
                        </div>

                        <div class="modal fade" id="mensajeModal{{ object.NumAnexo }}" tabindex="-1" role="dialog" aria-labelledby="mensajeModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% if object.lastmensaje %}
                                            <h5>ULTIMO MENSAJE</h5>
                                            <div class="panel-body">
                                                <ul class="chat">
                                                    <li class="left clearfix"><span class="chat-img pull-right"></span>
                                                        <div class="chat-body clearfix">
                                                            <div class="header">
                                                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ object.lastmensaje.fecha |date('d-m-Y H:m:s') }}</small>
                                                                <strong class="pull-right primary-font"><span class="glyphicon glyphicon-comment"></span> {{ object.lastmensaje.fosUserUserId.username }}</strong>
                                                            </div>
                                                            <p>
                                                                {{ object.lastmensaje.texto }}
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                        <form action="{{ path('admin_app_anexoii_mensaje', {'id': object.NumAnexo, 'url': 'show'}) }}" method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Nuevo Mensaje:</label>
                                                <textarea class="form-control" id="texto" name="texto"></textarea>
                                            </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Guardar Mensaje</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
    <style>
        .badge-custome {
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            border-radius: 10px;
        }
        .bg-warning {
            --bs-bg-opacity: 1;
            background-color: rgba(var(--bs-warning-rgb),var(--bs-bg-opacity)) !important;
        }
        :root {
            --bs-blue: #0d6efd;
            --bs-indigo: #6610f2;
            --bs-purple: #6f42c1;
            --bs-pink: #d63384;
            --bs-red: #dc3545;
            --bs-orange: #fd7e14;
            --bs-yellow: #ffc107;
            --bs-green: #198754;
            --bs-teal: #20c997;
            --bs-cyan: #0dcaf0;
            --bs-white: #fff;
            --bs-gray: #6c757d;
            --bs-gray-dark: #343a40;
            --bs-gray-100: #f8f9fa;
            --bs-gray-200: #e9ecef;
            --bs-gray-300: #dee2e6;
            --bs-gray-400: #ced4da;
            --bs-gray-500: #adb5bd;
            --bs-gray-600: #6c757d;
            --bs-gray-700: #495057;
            --bs-gray-800: #343a40;
            --bs-gray-900: #212529;
            --bs-primary: #0d6efd;
            --bs-secondary: #6c757d;
            --bs-success: #198754;
            --bs-info: #0dcaf0;
            --bs-warning: #ffc107;
            --bs-danger: #dc3545;
            --bs-light: #f8f9fa;
            --bs-dark: #212529;
            --bs-primary-rgb: 13,110,253;
            --bs-secondary-rgb: 108,117,125;
            --bs-success-rgb: 25,135,84;
            --bs-info-rgb: 13,202,240;
            --bs-warning-rgb: 255,193,7;
            --bs-danger-rgb: 220,53,69;
            --bs-light-rgb: 248,249,250;
            --bs-dark-rgb: 33,37,41;
            --bs-white-rgb: 255,255,255;
            --bs-black-rgb: 0,0,0;
            --bs-body-color-rgb: 33,37,41;
            --bs-body-bg-rgb: 255,255,255;
            --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
            --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
            --bs-body-font-family: var(--bs-font-sans-serif);
            --bs-body-font-size: 1rem;
            --bs-body-font-weight: 400;
            --bs-body-line-height: 1.5;
            --bs-body-color: #212529;
            --bs-body-bg: #fff;
        }
        .chat
        {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .chat li
        {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
        }

        .chat li.left .chat-body
        {
            margin-left: unset;
        }

        .chat li.right .chat-body
        {
            margin-right: unset;
        }


        .chat li .chat-body p
        {
            margin: 0;
            color: #777777;
        }

        .panel .slidedown .glyphicon, .chat .glyphicon
        {
            margin-right: unset;
        }

        .panel-body
        {
            height: 100%;
        }

        ::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar
        {
            width: 12px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }
    </style>
{% endblock field%}
{% endblock%}