{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block form %}

        {% block formactions %}
            {% if object.cerrado == 0 or admin.isGranted('ROLE_SUPER_ADMIN')%}
                 <div class="sonata-ba-form-actions well well-small form-actions">
                 {% block sonata_form_actions %}
                    {% if app.request.isxmlhttprequest %}
                        {# NEXT_MAJOR: remove default filter #}
                        {% if objectId|default(admin.id(object)) is not null %}
                            <button type="submit" class="btn btn-success" name="btn_update"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                            {% if admin.hasRoute('delete') and admin.hasAccess('delete', object) %}
                                {% block btn_delete %}
                                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                    <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">
                                        <i class="fa fa-minus-circle" aria-hidden="true"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}
                                    </a>
                                {% endblock %}
                            {% endif %}
                        {% else %}
                            {% block btn_create %}
                                <button type="submit" class="btn btn-success" name="btn_create"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endblock %}
                        {% endif %}
                    {% else %}
                        {% if admin.supportsPreviewMode %}
                            {% block btn_preview %}
                                <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                </button>
                            {% endblock %}
                        {% endif %}
                        {# NEXT_MAJOR: remove default filter #}
                        {% if objectId|default(admin.id(object)) is not null %}
                            {% block btn_update_and_edit %}
                                <button type="submit" class="btn btn-success" name="btn_update_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endblock %}

                            {% if admin.hasRoute('list') and admin.hasAccess('list') %}
                                {% block btn_update_and_list %}
                                    <button type="submit" class="btn btn-warning" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endblock %}
                            {% endif %}

                            {% if admin.hasRoute('delete') and admin.hasAccess('delete', object) %}
                                {{ block('btn_delete') }}
                            {% endif %}

                            {% if admin.isAclEnabled() and admin.hasRoute('acl') and admin.hasAccess('acl', object) %}
                                {% block btn_acl %}
                                    <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users" aria-hidden="true"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                                {% endblock %}
                            {% endif %}
                        {% else %}
                            {% if admin.hasroute('edit') and admin.hasAccess('edit') %}
                                {% block btn_create_and_edit %}
                                    <button class="btn btn-success" type="submit" name="btn_create_and_edit"><i class="fa fa-save" aria-hidden="true"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endblock %}
                            {% endif %}
                            {% if admin.hasroute('list') and admin.hasAccess('list') %}
                                {% block btn_create_and_list %}
                                    <button type="submit" class="btn btn-warning" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list" aria-hidden="true"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endblock %}
                            {% endif %}
                            {% block btn_create_and_create %}
                                <button class="btn btn-success" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle" aria-hidden="true"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endblock %}
                        {% endif %}
                    {% endif %}
                {% endblock %}
                </div>
            {% endif %}
        {% endblock formactions %}

    {{ parent() }}
    <script >
        $( document ).ready(function() {
            formId = '{{ form.vars.id }}';
            {% if object.cerrado == 0 %}
            $('#'+formId+'_documento').css({'width': '400px','display':'inline'})
            $('#'+formId+'_documento').parent().append('<select name="selectSexo" class="select2-chosen select2-dropdown" id="sexo" ><option value="2">M</option><option value="1">F</option></select> <button type="button" id="busqueda" style="display: inline" class="btn btn-primary">Buscar</button> <a class="btn btn-default" href="https://www.sssalud.gob.ar/index.php?b_publica=Acceso+P%C3%BAblico&user=GRAL&page=bus650" target="_blank" role="button">Acceso Público</a>')
            $('#'+formId+'_documento').parent().append('<br><span id="mensajeOS" class="badge badge-primary"></span><br><span id="mensajeRenaper" class="badge badge-secondary"></span>')
            {% endif %}
            $("#busqueda").click(function () {
                $('#mensajeOS').text('');
                $('#mensajeRenaper').text('');
                $.ajax({
                    url: '{{ path('admin_app_anexoii_buscarOs') }}',
                    method: 'POST',
                    processData: false,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ "dni": $('#'+formId+'_documento').val(), "sexo": $('#sexo').val() }),
                    dataType: "json",
                    success: function (data) {
                        $('#mensajeOS').text(data.texto);
                        $('#'+formId+'_codOs option[value='+data.osid+']').prop('selected','selected').change();
                    }
                });
                $.ajax({
                    url: '{{ path('admin_app_anexoii_renaper') }}',
                    method: 'POST',
                    processData: false,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ "dni": $('#'+formId+'_documento').val(), "sexo": $('#sexo').val() }),
                    dataType: "json",
                    success: function (data) {
                        $('#mensajeRenaper').text(data.texto);
                        $('#'+formId+'_apeynom').val(data.apellido+' '+data.nombres);
                    }
                });
            });

        });
    </script>

{% endblock form %}